Repository bsayli/spring-boot-openapi-generics-clients: changes, and which Codecov flags are due for each by the changed paths.
All: customer-service, customer-service-client

test: add SwaggerResponseCustomizer unit test, extend CustomerControllerIT with extra scenarios, and add CustomerServiceApplicationIT for context load
  customer-service/src/test/java/io/github/bsayli/customerservice/CustomerServiceApplicationIT.java
  customer-service/src/test/java/io/github/bsayli/customerservice/api/controller/CustomerControllerIT.java
  customer-service/src/test/java/io/github/bsayli/customerservice/common/openapi/SwaggerResponseCustomizerTest.java
Due: customer-service

test: add DTO validation and JSON tests (create/update request, create response, dto)
  customer-service/src/test/java/io/github/bsayli/customerservice/api/dto/CustomerCreateRequestValidationTest.java
  customer-service/src/test/java/io/github/bsayli/customerservice/api/dto/CustomerCreateResponseJsonTest.java
  customer-service/src/test/java/io/github/bsayli/customerservice/api/dto/CustomerDtoJsonTest.java
  customer-service/src/test/java/io/github/bsayli/customerservice/api/dto/CustomerUpdateRequestValidationTest.java
Due: customer-service

docs(readme): rewrite root & module docs for generics-aware OpenAPI client fix(docker): repair Dockerfile to build/run successfully chore(repo): add .dockerignore
  README.md
  customer-service-client/README.md
  customer-service-client/pom.xml
  customer-service-client/src/main/resources/customer-api-docs.yaml
  customer-service/.dockerignore
  customer-service/Dockerfile
  customer-service/README.md
  customer-service/pom.xml
Due: customer-service, customer-service-client

docs(root): restructure README with social preview & clearer flow
  README.md
Due: none

chore(deps): bump OpenAPI Generator to 7.16.0 and harden templates
  README.md
  customer-service-client/README.md
  customer-service-client/pom.xml
  customer-service-client/src/main/resources/customer-api-docs.yaml
  customer-service-client/src/main/resources/openapi-templates/api_wrapper.mustache
  customer-service-client/src/main/resources/openapi-templates/model.mustache
  customer-service/pom.xml
Due: customer-service, customer-service-client

feat(customer-service): add optional support for extra class annotations in OpenAPI wrappers
  customer-service-client/README.md
  customer-service/README.md
  customer-service/src/main/java/io/github/bsayli/customerservice/common/openapi/ApiResponseSchemaFactory.java
  customer-service/src/main/java/io/github/bsayli/customerservice/common/openapi/OpenApiSchemas.java
  customer-service/src/main/java/io/github/bsayli/customerservice/common/openapi/autoreg/AutoWrapperSchemaCustomizer.java
  customer-service/src/main/resources/application.yml
  customer-service/src/test/java/io/github/bsayli/customerservice/common/openapi/autoreg/AutoWrapperSchemaCustomizerTest.java
Due: customer-service, customer-service-client

docs: add adoption guides and update root README
  README.md
  docs/adoption/client-side-adoption.md
  docs/adoption/server-side-adoption.md
Due: none

docs(adoption): add client-side Maven setup guide with plugins and dependencies
  docs/adoption/client-side-adoption-pom.md
  docs/adoption/client-side-adoption.md
Due: none

docs(client): refine README and adoption guides; clarify examples
  customer-service-client/README.md
  customer-service-client/src/main/resources/openapi-templates/api_wrapper.mustache
  customer-service/README.md
  docs/adoption/client-side-adoption-pom.md
  docs/adoption/client-side-adoption.md
  docs/adoption/server-side-adoption.md
Due: customer-service, customer-service-client

docs: fix README anchor for Optional Extra Class Annotations
  customer-service-client/README.md
  customer-service/README.md
Due: customer-service, customer-service-client

docs: add GitHub Pages landing page (docs/index.md)
  docs/index.md
Due: none

docs(site): add GitHub Pages config and update index.md
  docs/_config.yml
  docs/adoption/client-side-adoption.md
  docs/adoption/server-side-adoption.md
  docs/index.md
Due: none

docs(site): restructure navigation with adoption guides
  customer-service-client/README.md
  customer-service/README.md
  docs/adoption/client-side-adoption-pom.md
  docs/adoption/index.md
  docs/adoption/server-side-adoption.md
  docs/index.md
Due: customer-service, customer-service-client

docs(css): improve site title readability and alignment
  docs/_config.yml
  docs/assets/css/custom.css
  docs/index.md
Due: none

docs: update navigation, styles and client-side guide titles
  docs/adoption/client-side-adoption-pom.md
  docs/assets/css/custom.css
Due: none

style(docs): adjust sidebar and title styling for long site title
  docs/assets/css/custom.css
Due: none

chore(docs): shorten site title and simplify custom CSS
  docs/_config.yml
  docs/assets/css/custom.css
Due: none

docs(site): refine index.md homepage layout
  docs/index.md
Due: none

docs(site): fix index.md front matter so homepage renders correctly
  docs/index.md
Due: none

docs(site): deduplicate Adoption Guides by disabling auto ToC
  docs/adoption/index.md
Due: none

chore(release): bump customer-service-client to 0.6.7 and sync build config
  customer-service-client/README.md
  customer-service-client/pom.xml
  customer-service-client/src/main/resources/customer-api-docs.yaml
  customer-service/pom.xml
  docs/adoption/client-side-adoption-pom.md
  docs/adoption/server-side-adoption.md
Due: customer-service, customer-service-client

docs: rewrite homepage to highlight project purpose and adoption flow
  docs/index.md
Due: none

docs: add References & Links section at end of README for Medium + GitHub Pages
  README.md
Due: none

docs: unify "More Docs" into "References & Links" with GitHub + Medium links
  docs/index.md
Due: none

docs: add styled callout for References & Links with external links opening in new tab
  docs/assets/css/custom.css
  docs/index.md
Due: none

fix(docs): remove duplicate 'References & Links' heading
  docs/assets/css/custom.css
  docs/index.md
Due: none

# spring-boot-openapi-generics-clients
  customer-service-client/README.md
  customer-service/README.md
  docs/assets/css/custom.css
Due: customer-service, customer-service-client

docs: fix Mustache template rendering in client-side adoption guide
  docs/adoption/client-side-adoption.md
Due: none

docs(customer-service): clarify enhanced OpenAPI contract and wrapper extensions in README
  customer-service/README.md
Due: customer-service

docs: clarify OpenAPI spec path and adjust template paths order
  customer-service-client/README.md
  customer-service/README.md
Due: customer-service, customer-service-client

docs(readme): update mustache snippet and simplify license section
  README.md
Due: none

docs: fix Markdown rendering in OpenAPI Endpoints section
  customer-service/README.md
Due: customer-service

chore: prepare release v0.6.8 (pom.xml version update)
  README.md
  customer-service-client/.gitignore
  customer-service-client/README.md
  customer-service-client/customer-service-client.iml
  customer-service-client/pom.xml
  customer-service-client/src/main/resources/customer-api-docs.yaml
  customer-service/.gitignore
  customer-service/README.md
  customer-service/customer-service.iml
  customer-service/pom.xml
  docs/adoption/client-side-adoption-pom.md
Due: customer-service, customer-service-client

Fix README formatting: split OpenAPI spec note into two lines
  customer-service/README.md
Due: customer-service

docs: fix References & Links formatting in root README
  README.md
Due: none

👉 docs(readme): finalize client usage with adapter and cross-microservice integration
  customer-service-client/README.md
Due: customer-service-client

docs(client-adoption): add client-side integration guide with adapter pattern and quick start config
  docs/adoption/client-side-adoption.md
Due: none

docs(client-adoption): fix heading style for Quick Start section
  docs/adoption/client-side-adoption.md
Due: none

docs: finalize root README with Dev.to reference and minor formatting polish
  README.md
  docs/images/openapi-generics-cover.png
  docs/images/social-preview.png
Due: none

Path conditions:
  customer-service: any of: customer-service/, but not: customer-service-client/target/**, customer-service/target/**, **/target/**, **/generated-sources/**, **/generated/**
  customer-service-client: any of: customer-service-client/, but not: customer-service-client/target/**, customer-service/target/**, **/target/**, **/generated-sources/**, **/generated/**
