Repository bsayli/spring-boot-openapi-generics-clients: changes, and which Codecov flags are due for each by the changed paths.
All: api-contract, customer-service, customer-service-client

codecov.yml:

coverage:
  status:
    project:
      default:
        target: 60%
        threshold: 1%
    patch:
      default:
        enabled: false

comment:
  layout: "reach, diff, flags, files"
  behavior: default

ignore:
  - "**/target/**"
  - "**/generated/**"
  - "**/generated-sources/**"

flags:
  api-contract:
    paths:
      - "api-contract/"
  customer-service:
    paths:
      - "customer-service/"
  customer-service-client:
    paths:
      - "customer-service-client/"

docs(pages): remove pages.yml
  .github/workflows/pages.yml
Due: none

Update Jekyll GitHub Pages workflow configuration
  .github/workflows/jekyll-gh-pages.yml
Due: none

docs(pages): update jekyll-gh-pages.yml
  .github/workflows/jekyll-gh-pages.yml
Due: none

docs: add Medium context link to README and remove canonical_url from GitHub Pages index
  README.md
  docs/index.md
Due: none

docs: update Medium context link to README
  README.md
Due: none

Add GitHub Packages distributionManagement for api-contract
  api-contract/pom.xml
Due: api-contract

Add GitHub Actions workflow to publish api-contract
  .github/workflows/publish-api-contract.yml
Due: none

refactor(client): move timeouts to HttpClient RequestConfig and remove deprecated RestClient factory usage
  customer-service-client/README.md
  customer-service-client/src/main/java/io/github/bsayli/openapi/client/adapter/config/CustomerApiClientConfig.java
Due: customer-service-client

refactor(client): harden RFC 9457 ProblemDetail handling
  customer-service-client/src/main/java/io/github/bsayli/openapi/client/adapter/config/CustomerApiClientConfig.java
  customer-service-client/src/main/java/io/github/bsayli/openapi/client/adapter/support/ProblemDetailFallbacks.java
  customer-service-client/src/main/java/io/github/bsayli/openapi/client/adapter/support/ProblemDetailSupport.java
  customer-service-client/src/main/java/io/github/bsayli/openapi/client/adapter/support/ResponseSnapshot.java
  customer-service-client/src/main/java/io/github/bsayli/openapi/client/common/problem/ApiProblemException.java
Due: customer-service-client

bugfix(test): update CustomerApiClientConfigStatusHandlerTest for new RFC 9457 fallbacks
  customer-service-client/src/test/java/io/github/bsayli/openapi/client/adapter/CustomerClientErrorIT.java
  customer-service-client/src/test/java/io/github/bsayli/openapi/client/adapter/config/CustomerApiClientConfigStatusHandlerTest.java
Due: customer-service-client

refactor: centralize error messages via messages.properties and LocalizedMessageResolver
  customer-service/README.md
  customer-service/src/main/java/io/github/bsayli/customerservice/CustomerServiceApplication.java
  customer-service/src/main/java/io/github/bsayli/customerservice/api/controller/CustomerController.java
  customer-service/src/main/java/io/github/bsayli/customerservice/api/dto/CustomerDeleteResponse.java
  customer-service/src/main/java/io/github/bsayli/customerservice/api/error/ApplicationExceptionHandler.java
  customer-service/src/main/java/io/github/bsayli/customerservice/api/error/JsonExceptionHandler.java
  customer-service/src/main/java/io/github/bsayli/customerservice/api/error/ProblemDescriptor.java
  customer-service/src/main/java/io/github/bsayli/customerservice/api/error/ProblemSupport.java
  customer-service/src/main/java/io/github/bsayli/customerservice/api/error/SpringHttpExceptionHandler.java
  customer-service/src/main/java/io/github/bsayli/customerservice/api/error/ValidationExceptionHandler.java
  customer-service/src/main/java/io/github/bsayli/customerservice/common/i18n/LocalizedMessageResolver.java
  customer-service/src/main/java/io/github/bsayli/customerservice/common/i18n/impl/SpringLocalizedMessageResolver.java
  customer-service/src/main/java/io/github/bsayli/customerservice/common/i18n/locale/CurrentLocaleProvider.java
  customer-service/src/main/java/io/github/bsayli/customerservice/common/i18n/locale/impl/DefaultLocaleProvider.java
  customer-service/src/main/resources/messages.properties
  customer-service/src/test/java/io/github/bsayli/customerservice/api/controller/CustomerControllerIT.java
  customer-service/src/test/java/io/github/bsayli/customerservice/testconfig/TestControllerMocksConfig.java
Due: customer-service

ci: fix CodeQL workflow
  .github/workflows/build.yml
  .github/workflows/codeql.yml
Due: none

chore(release): bump to 0.7.5, upgrade Spring Boot to 3.5.10 and OpenAPI Generator to 7.19.0, improve layered Docker build for customer-service
  .github/ISSUE_TEMPLATE/bug_report.yml
  README.md
  api-contract/README.md
  api-contract/pom.xml
  api-contract/src/main/java/io/github/bsayli/apicontract/envelope/ServiceResponse.java
  customer-service-client/README.md
  customer-service-client/pom.xml
  customer-service-client/src/main/java/io/github/bsayli/openapi/client/adapter/support/ProblemDetailFallbacks.java
  customer-service-client/src/main/java/io/github/bsayli/openapi/client/common/problem/ApiProblemException.java
  customer-service-client/src/main/resources/customer-api-docs.yaml
  customer-service-client/src/test/java/io/github/bsayli/openapi/client/adapter/CustomerClientErrorIT.java
  customer-service-client/src/test/java/io/github/bsayli/openapi/client/adapter/config/CustomerApiClientConfigStatusHandlerTest.java
  customer-service/Dockerfile
  customer-service/README.md
  customer-service/pom.xml
  customer-service/src/main/java/io/github/bsayli/customerservice/api/error/ApplicationExceptionHandler.java
  customer-service/src/main/java/io/github/bsayli/customerservice/common/i18n/impl/SpringLocalizedMessageResolver.java
  customer-service/src/main/java/io/github/bsayli/customerservice/common/i18n/locale/impl/DefaultLocaleProvider.java
  docs/adoption/client-side-adoption-pom.md
  docs/adoption/server-side-adoption.md
  docs/images/architecture/architectural-diagram.drawio
  docs/images/architecture/architectural-diagram.png
  pom.xml
Due: api-contract, customer-service, customer-service-client

fix(client): correct ProblemDetail fallback URIs to customer-service namespace
  customer-service-client/src/main/java/io/github/bsayli/openapi/client/adapter/support/ProblemDetailFallbacks.java
Due: customer-service-client

fix: upgrade Spring Boot 3.5.11, Springdoc 2.8.16, regenerate OpenAPI spec, update OpenAPI generator 7.20.0 and resolve Jackson vulnerabilities
  .github/ISSUE_TEMPLATE/bug_report.yml
  PULL_REQUEST_TEMPLATE.md
  README.md
  api-contract/README.md
  api-contract/pom.xml
  customer-service-client/README.md
  customer-service-client/pom.xml
  customer-service-client/src/main/java/io/github/bsayli/openapi/client/adapter/support/ProblemDetailFallbacks.java
  customer-service-client/src/main/java/io/github/bsayli/openapi/client/common/problem/ApiProblemException.java
  customer-service-client/src/main/resources/customer-api-docs.yaml
  customer-service-client/src/main/resources/openapi-templates/model.mustache
  customer-service/README.md
  customer-service/pom.xml
  customer-service/src/main/java/io/github/bsayli/customerservice/common/openapi/GlobalErrorResponsesCustomizer.java
  docs/adoption/client-side-adoption-pom.md
  docs/adoption/server-side-adoption.md
  docs/images/architecture/architectural-diagram.drawio
  docs/images/architecture/architectural-diagram.png
  pom.xml
Due: api-contract, customer-service, customer-service-client

docs: add CodeQL badge and fix Release badge in README
  README.md
Due: none

docs: fix Release badge and switch to tag-based shield
  README.md
Due: none

docs: fix Release badge label in README
  README.md
Due: none

release: expose api-contract as public shared contract (v0.7.7)
  .github/workflows/publish-api-contract.yml
  PULL_REQUEST_TEMPLATE.md
  api-contract/README.md
  api-contract/pom.xml
  api-contract/src/main/java/io/github/bsayli/apicontract/envelope/Meta.java
  api-contract/src/main/java/io/github/bsayli/apicontract/envelope/ServiceResponse.java
  api-contract/src/main/java/io/github/bsayli/apicontract/error/ErrorItem.java
  api-contract/src/main/java/io/github/bsayli/apicontract/error/ProblemExtensions.java
  api-contract/src/main/java/io/github/bsayli/apicontract/paging/Page.java
  api-contract/src/main/java/io/github/bsayli/apicontract/paging/Sort.java
  api-contract/src/main/java/io/github/bsayli/apicontract/paging/SortDirection.java
  customer-service-client/pom.xml
  customer-service-client/src/main/resources/customer-api-docs.yaml
  customer-service/pom.xml
  docs/adoption/client-side-adoption-pom.md
  docs/adoption/server-side-adoption.md
  pom.xml
Due: api-contract, customer-service, customer-service-client

fix: isolate Maven Central signing and publishing into optional profile to restore CI build
  api-contract/pom.xml
Due: api-contract

build: isolate publish-time POM using flatten-maven-plugin
  api-contract/pom.xml
Due: api-contract

fix README structure and clarify contract-driven positioning for generics-aware OpenAPI setup
  README.md
Due: none

build: simplify OpenAPI template pipeline and upgrade platform stack
  customer-service-client/pom.xml
  customer-service-client/src/main/resources/customer-api-docs.yaml
  customer-service-client/src/main/resources/openapi-templates/model.mustache
  customer-service/pom.xml
  pom.xml
Due: customer-service, customer-service-client

refactor(codegen): deterministic template patching + wrapper simplification
  customer-service-client/pom.xml
  customer-service-client/src/main/resources/openapi-templates/api_wrapper.mustache
Due: customer-service-client

docs: restructure README and adoption guides around contract lifecycle architecture
  .github/ISSUE_TEMPLATE/bug_report.yml
  README.md
  customer-service-client/README.md
  customer-service-client/src/main/java/io/github/bsayli/customerservice/client/adapter/impl/CustomerClientAdapterImpl.java
  customer-service-client/src/main/java/io/github/bsayli/customerservice/client/adapter/support/ProblemDetailFallbacks.java
  customer-service-client/src/main/java/io/github/bsayli/customerservice/client/adapter/support/ProblemDetailSupport.java
  customer-service-client/src/main/resources/customer-api-docs.yaml
  customer-service-client/src/test/java/io/github/bsayli/customerservice/client/adapter/config/CustomerApiClientConfigStatusHandlerTest.java
  customer-service/README.md
  customer-service/pom.xml
  customer-service/src/main/java/io/github/bsayli/customerservice/common/openapi/ApiResponseSchemaFactory.java
  customer-service/src/main/java/io/github/bsayli/customerservice/common/openapi/SwaggerResponseCustomizer.java
  customer-service/src/main/java/io/github/bsayli/customerservice/common/openapi/autoreg/AutoWrapperSchemaCustomizer.java
  customer-service/src/main/java/io/github/bsayli/customerservice/common/openapi/introspector/ResponseTypeIntrospector.java
  customer-service/src/test/java/io/github/bsayli/customerservice/api/controller/CustomerControllerIT.java
  docs/adoption/client-side-adoption-pom.md
  docs/adoption/client-side-adoption.md
  docs/adoption/server-side-adoption.md
  docs/images/architecture/architectural-diagram.drawio
  docs/images/architecture/architectural-diagram.png
  docs/index.md
  pom.xml
Due: customer-service, customer-service-client

docs: refine main README structure and architectural positioning
  README.md
Due: none

build: bump customer-service-client version to 0.7.9
  customer-service-client/pom.xml
Due: customer-service-client

docs(architecture): introduce OpenAPI Generics Platform architecture for 0.8.x evolution
  docs/architecture/openapi-generics-platform-architecture.md
Due: none

build: harden OpenAPI model.mustache patch for deterministic generics wrapper injection
  customer-service-client/pom.xml
Due: customer-service-client

feat(server): contract-aware OpenAPI generation for ServiceResponse<T>
  customer-service-client/pom.xml
  customer-service-client/src/main/resources/customer-api-docs.yaml
  customer-service/pom.xml
  docs/architecture/openapi-generics-server-starter-design.md
  openapi-generics-server-starter/.gitignore
  openapi-generics-server-starter/pom.xml
  openapi-generics-server-starter/src/main/java/io/github/bsayli/openapi/generics/server/autoconfigure/OpenApiGenericsAutoConfiguration.java
  openapi-generics-server-starter/src/main/java/io/github/bsayli/openapi/generics/server/core/customizer/BaseSchemaCustomizer.java
  openapi-generics-server-starter/src/main/java/io/github/bsayli/openapi/generics/server/core/customizer/WrapperSchemaCustomizer.java
  openapi-generics-server-starter/src/main/java/io/github/bsayli/openapi/generics/server/core/introspection/ResponseTypeDiscoveryStrategy.java
  openapi-generics-server-starter/src/main/java/io/github/bsayli/openapi/generics/server/core/introspection/ResponseTypeIntrospector.java
  openapi-generics-server-starter/src/main/java/io/github/bsayli/openapi/generics/server/core/schema/ServiceResponseSchemaFactory.java
  openapi-generics-server-starter/src/main/java/io/github/bsayli/openapi/generics/server/core/schema/WrapperSchemaEnricher.java
  openapi-generics-server-starter/src/main/java/io/github/bsayli/openapi/generics/server/core/schema/contract/PropertyNames.java
  openapi-generics-server-starter/src/main/java/io/github/bsayli/openapi/generics/server/core/schema/contract/SchemaNames.java
  openapi-generics-server-starter/src/main/java/io/github/bsayli/openapi/generics/server/core/schema/contract/VendorExtensions.java
  openapi-generics-server-starter/src/main/java/io/github/bsayli/openapi/generics/server/core/validation/OpenApiContractGuard.java
  openapi-generics-server-starter/src/main/java/io/github/bsayli/openapi/generics/server/mvc/MvcResponseTypeDiscoveryStrategy.java
  pom.xml
Due: customer-service, customer-service-client

refactor(openapi): introduce deterministic contract-aware pipeline architecture
  customer-service-client/src/main/resources/customer-api-docs.yaml
  openapi-generics-server-starter/src/main/java/io/github/bsayli/openapi/generics/server/autoconfigure/OpenApiGenericsAutoConfiguration.java
  openapi-generics-server-starter/src/main/java/io/github/bsayli/openapi/generics/server/core/customizer/BaseSchemaCustomizer.java
  openapi-generics-server-starter/src/main/java/io/github/bsayli/openapi/generics/server/core/customizer/WrapperSchemaCustomizer.java
  openapi-generics-server-starter/src/main/java/io/github/bsayli/openapi/generics/server/core/pipeline/OpenApiPipelineOrchestrator.java
  openapi-generics-server-starter/src/main/java/io/github/bsayli/openapi/generics/server/core/schema/WrapperSchemaProcessor.java
  openapi-generics-server-starter/src/main/java/io/github/bsayli/openapi/generics/server/core/schema/base/BaseSchemaRegistrar.java
  openapi-generics-server-starter/src/main/java/io/github/bsayli/openapi/generics/server/core/validation/OpenApiContractGuard.java
Due: customer-service-client

refactor: stabilize wrapper schema pipeline and fix schema registration
  customer-service-client/pom.xml
  customer-service-client/src/main/resources/customer-api-docs.yaml
  customer-service/pom.xml
  customer-service/src/main/java/io/github/bsayli/customerservice/common/openapi/ApiResponseSchemaFactory.java
  customer-service/src/main/java/io/github/bsayli/customerservice/common/openapi/OpenApiSchemas.java
  customer-service/src/main/java/io/github/bsayli/customerservice/common/openapi/SwaggerResponseCustomizer.java
  customer-service/src/main/java/io/github/bsayli/customerservice/common/openapi/autoreg/AutoWrapperSchemaCustomizer.java
  customer-service/src/main/java/io/github/bsayli/customerservice/common/openapi/introspector/ResponseTypeIntrospector.java
  customer-service/src/main/resources/application.yml
  customer-service/src/test/java/io/github/bsayli/customerservice/common/openapi/SwaggerResponseCustomizerTest.java
  customer-service/src/test/java/io/github/bsayli/customerservice/common/openapi/autoreg/AutoWrapperSchemaCustomizerTest.java
  customer-service/src/test/java/io/github/bsayli/customerservice/common/openapi/introspector/ResponseTypeIntrospectorTest.java
  openapi-generics-bom/pom.xml
  openapi-generics-server-starter/pom.xml
  openapi-generics-server-starter/src/main/java/io/github/bsayli/openapi/generics/server/core/pipeline/OpenApiPipelineOrchestrator.java
  openapi-generics-server-starter/src/main/java/io/github/bsayli/openapi/generics/server/core/schema/ServiceResponseSchemaFactory.java
  openapi-generics-server-starter/src/main/java/io/github/bsayli/openapi/generics/server/core/schema/WrapperSchemaProcessor.java
  openapi-generics-server-starter/src/main/java/io/github/bsayli/openapi/generics/server/core/schema/base/BaseSchemaRegistrar.java
  openapi-generics-server-starter/src/main/java/io/github/bsayli/openapi/generics/server/core/validation/OpenApiContractGuard.java
  openapi-generics-server-starter/src/main/resources/META-INF/spring/org.springframework.boot.autoconfigure.AutoConfiguration.imports
  pom.xml
Due: customer-service, customer-service-client

refactor(server-starter): update docs, remove unused method, apply formatting
  docs/architecture/openapi-generics-platform-architecture.md
  docs/architecture/openapi-generics-server-starter-design.md
  docs/architecture/openapi-generics-server-starter-internals.md
  openapi-generics-server-starter/src/main/java/io/github/bsayli/openapi/generics/server/autoconfigure/OpenApiGenericsAutoConfiguration.java
  openapi-generics-server-starter/src/main/java/io/github/bsayli/openapi/generics/server/core/pipeline/OpenApiPipelineOrchestrator.java
  openapi-generics-server-starter/src/main/java/io/github/bsayli/openapi/generics/server/core/schema/ServiceResponseSchemaFactory.java
  openapi-generics-server-starter/src/main/java/io/github/bsayli/openapi/generics/server/core/schema/WrapperSchemaProcessor.java
  openapi-generics-server-starter/src/main/java/io/github/bsayli/openapi/generics/server/core/schema/base/BaseSchemaRegistrar.java
  openapi-generics-server-starter/src/main/java/io/github/bsayli/openapi/generics/server/core/validation/OpenApiContractGuard.java
Due: none

feat: add contract ownership principle + fix deprecated overwrite
  customer-service-client/pom.xml
  docs/architecture/openapi-generics-platform-architecture.md
  docs/architecture/openapi-generics-server-starter-internals.md
Due: customer-service-client

feat(codegen): introduce generics-aware OpenAPI generation pipeline
  customer-service-client/pom.xml
  customer-service-client/src/main/resources/customer-api-docs.yaml
  customer-service/pom.xml
  docs/architecture/openapi-generics-platform-architecture.md
  openapi-generics-java-codegen/pom.xml
  openapi-generics-java-codegen/src/main/resources/openapi-ignore/.openapi-generator-ignore
  openapi-generics-java-codegen/src/main/resources/openapi-templates/api_wrapper.mustache
  openapi-generics-server-starter/pom.xml
  openapi-generics-server-starter/src/main/java/io/github/bsayli/openapi/generics/server/autoconfigure/OpenApiGenericsAutoConfiguration.java
  openapi-generics-server-starter/src/main/java/io/github/bsayli/openapi/generics/server/core/pipeline/OpenApiPipelineOrchestrator.java
  openapi-generics-server-starter/src/main/java/io/github/bsayli/openapi/generics/server/core/schema/base/BaseSchemaIgnoreMarker.java
  openapi-generics-server-starter/src/main/java/io/github/bsayli/openapi/generics/server/core/schema/contract/VendorExtensions.java
  pom.xml
Due: customer-service, customer-service-client

docs(readme): restructure main README with contract lifecycle narrative
  README.md
  docs/architecture/client.md
  docs/architecture/error-handling.md
  docs/architecture/platform.md
  docs/architecture/server.md
  samples/customer-service-client/README.md
  samples/customer-service/README.md
Due: none
