Repository bsayli/spring-boot-openapi-generics-clients: changes, and which Codecov flags are due for each by the changed paths.
All: customer-service, customer-service-client

docs(repo): add CONTRIBUTING.md with full contributor guide
  CONTRIBUTING.md
Due: none

docs(repo): add standardized Pull Request template
  PULL_REQUEST_TEMPLATE.md
Due: none

docs(repo): add SECURITY.md with vulnerability reporting and supported versions
  SECURITY.md
Due: none

docs(repo): add GitHub issue templates for bugs and feature requests
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/feature_request.yml
Due: none

🔐 ci(security): add CodeQL analysis workflow for Java 21 multi-module build
  .github/workflows/codeql.yml
Due: none

docs(security): soften response timelines for single-maintainer context
  SECURITY.md
Due: none

docs(readme): fix class declaration in client-side Java example
  README.md
Due: none

chore(deps+docs): upgrade to Spring Boot 3.4.11 and OpenAPI Generator 7.17.0, update docs and CodeQL
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/workflows/codeql.yml
  README.md
  customer-service-client/README.md
  customer-service-client/pom.xml
  customer-service-client/src/main/resources/customer-api-docs.yaml
  customer-service/README.md
  customer-service/pom.xml
  docs/adoption/client-side-adoption-pom.md
  docs/images/architectural-diagram.png
  docs/index.md
Due: customer-service, customer-service-client

docs(readme): fix broken internal anchor link for Architecture Overview section
  README.md
Due: none

bugfix(pagination): prevent integer overflow and clamp page/size safely
  customer-service/src/main/java/io/github/bsayli/customerservice/common/api/response/Page.java
  customer-service/src/main/java/io/github/bsayli/customerservice/service/impl/CustomerServiceImpl.java
  customer-service/src/test/java/io/github/bsayli/customerservice/service/impl/CustomerServiceImplTest.java
Due: customer-service

chore(ci): upgrade CodeQL Action to v4
  .github/workflows/codeql.yml
Due: none

chore(release): upgrade Spring Boot to 3.5.9, OpenAPI Generator to 7.18.0 and introduce api-contract baseline
  CONTRIBUTING.md
  README.md
  customer-service-client/README.md
  customer-service-client/pom.xml
  customer-service-client/src/main/resources/customer-api-docs.yaml
  customer-service-client/src/main/resources/openapi-templates/model.mustache
  customer-service/README.md
  customer-service/pom.xml
  customer-service/src/test/java/io/github/bsayli/customerservice/api/controller/CustomerControllerIT.java
  docs/adoption/client-side-adoption-pom.md
  docs/adoption/client-side-adoption.md
  docs/adoption/server-side-adoption.md
  docs/index.md
Due: customer-service, customer-service-client

chore(metadata): enforce strict ProblemDetail schema and align project metadata
  .github/workflows/build.yml
  customer-service-client/pom.xml
  customer-service-client/src/main/resources/customer-api-docs.yaml
  customer-service/pom.xml
  customer-service/src/main/java/io/github/bsayli/customerservice/common/openapi/GlobalErrorResponsesCustomizer.java
  docs/adoption/client-side-adoption-pom.md
Due: customer-service, customer-service-client

docs(docker): align Docker usage with module-first workflow and update Dockerfile
  README.md
  api-contract/README.md
  customer-service/Dockerfile
  customer-service/README.md
  customer-service/docker-compose.yml
Due: customer-service

chore(ci): disable Codecov patch coverage gate
  codecov.yml
Due: none

docs(github-pages): refine Home & Adoption Guides layout, fix inline code styling and CSS polish
  docs/_config.yml
  docs/adoption/client-side-adoption-pom.md
  docs/adoption/client-side-adoption.md
  docs/adoption/server-side-adoption.md
  docs/assets/css/custom.css
  docs/index.md
Due: none

docs(adoption): link client build & POM guide from client-side adoption flow
  README.md
  docs/adoption/client-side-adoption.md
  docs/index.md
Due: none

ci(actions): skip build on docs-only changes using paths filter
  .github/workflows/build.yml
  .github/workflows/codeql.yml
  docs/index.md
Due: none

docs(site): refine home page callout layout and fix bullet rendering
  docs/adoption/client-side-adoption.md
  docs/index.md
Due: none

docs(readme): refine main README formatting and links
  README.md
Due: none

docs(build): align CI, docs, and cover with single-contract generics
  .github/workflows/build.yml
  .github/workflows/codeql.yml
  README.md
  docs/adoption/client-side-adoption-pom.md
  docs/images/architecture/architectural-diagram.drawio
  docs/images/architecture/architectural-diagram.png
  docs/images/cover/cover.html
  docs/images/cover/cover.png
  docs/index.md
Due: none

chore(deps): add Dependabot config for controlled Maven updates
  .github/dependabot.yml
Due: none

refactor(openapi): guarantee ServiceResponse<T>/ServiceResponse<Page<T>> only, harden auto-wrapper schema registration, and align docs
  README.md
  customer-service/src/main/java/io/github/bsayli/customerservice/api/controller/CustomerController.java
  customer-service/src/main/java/io/github/bsayli/customerservice/common/openapi/autoreg/AutoWrapperSchemaCustomizer.java
  customer-service/src/main/java/io/github/bsayli/customerservice/common/openapi/introspector/ResponseTypeIntrospector.java
  customer-service/src/test/java/io/github/bsayli/customerservice/common/openapi/autoreg/AutoWrapperSchemaCustomizerTest.java
  customer-service/src/test/java/io/github/bsayli/customerservice/common/openapi/introspector/ResponseTypeIntrospectorTest.java
  docs/adoption/server-side-adoption.md
  docs/index.md
Due: customer-service

docs(adoption): document api-contract importMappings for generated client models
  customer-service-client/pom.xml
  customer-service/README.md
  docs/adoption/client-side-adoption-pom.md
Due: customer-service, customer-service-client

docs: fix typo in index.md
  docs/index.md
Due: none

docs: clarify contract language and document server-side OpenAPI wrappers
  CONTRIBUTING.md
  PULL_REQUEST_TEMPLATE.md
  README.md
  SECURITY.md
  api-contract/README.md
  customer-service/src/main/java/io/github/bsayli/customerservice/api/controller/CustomerController.java
  customer-service/src/main/java/io/github/bsayli/customerservice/common/openapi/SwaggerResponseCustomizer.java
  customer-service/src/main/java/io/github/bsayli/customerservice/common/openapi/autoreg/AutoWrapperSchemaCustomizer.java
  customer-service/src/main/java/io/github/bsayli/customerservice/common/openapi/introspector/ResponseTypeIntrospector.java
  docs/adoption/client-side-adoption-pom.md
  docs/adoption/server-side-adoption.md
  docs/index.md
Due: customer-service

docs: clarify contract language across adoption guides
  CONTRIBUTING.md
  PULL_REQUEST_TEMPLATE.md
  README.md
  api-contract/README.md
  customer-service-client/README.md
  customer-service/README.md
  docs/adoption/client-side-adoption-pom.md
  docs/adoption/client-side-adoption.md
  docs/index.md
Due: customer-service, customer-service-client

docs(adoption): update server-side adoption guide
  customer-service/src/main/java/io/github/bsayli/customerservice/common/openapi/ApiResponseSchemaFactory.java
  docs/adoption/client-side-adoption-pom.md
  docs/adoption/server-side-adoption.md
  docs/index.md
Due: customer-service

docs(adoption): fix typo in server-side adoption guide
  docs/adoption/server-side-adoption.md
Due: none

docs(adoption): update server-side adoption guide
  docs/adoption/server-side-adoption.md
Due: none

docs(pages): add GitHub Pages deployment workflow
  .github/workflows/pages.yml
Due: none

docs(pages): delete GitHub Pages deployment workflow
  .github/workflows/pages.yml
Due: none

docs(adoption): update adoption guide
  .github/dependabot.yml
  customer-service/src/main/java/io/github/bsayli/customerservice/CustomerServiceApplication.java
  customer-service/src/main/java/io/github/bsayli/customerservice/api/controller/CustomerController.java
  customer-service/src/main/java/io/github/bsayli/customerservice/api/dto/CustomerDeleteResponse.java
  docs/adoption/client-side-adoption.md
  docs/adoption/server-side-adoption.md
  docs/index.md
Due: customer-service

docs(adoption): update adoption guide
  docs/index.md
Due: none

docs(pages): add pages.yml
  .github/workflows/pages.yml
Due: none

Path conditions:
  customer-service: any of: customer-service/, but not: customer-service-client/target/**, customer-service/target/**, **/target/**, **/generated-sources/**, **/generated/**
  customer-service-client: any of: customer-service-client/, but not: customer-service-client/target/**, customer-service/target/**, **/target/**, **/generated-sources/**, **/generated/**
