Repository bsayli/spring-boot-openapi-generics-clients: changes, and which Codecov flags are due for each by the changed paths.
All: customer-service, customer-service-client

docs(readme): fix section ordering and cleanup references
  README.md
Due: none

docs: update index.md with latest article titles and dev.to reference
  README.md
  docs/index.md
Due: none

feat!: end-to-end generic API envelopes, RFC7807 problems, and generics-aware client generation
  customer-service-client/src/main/java/io/github/bsayli/openapi/client/adapter/CustomerClientAdapter.java
  customer-service-client/src/main/java/io/github/bsayli/openapi/client/adapter/config/CustomerApiClientConfig.java
  customer-service-client/src/main/java/io/github/bsayli/openapi/client/adapter/impl/CustomerClientAdapterImpl.java
  customer-service-client/src/main/java/io/github/bsayli/openapi/client/common/ClientMeta.java
  customer-service-client/src/main/java/io/github/bsayli/openapi/client/common/ClientSort.java
  customer-service-client/src/main/java/io/github/bsayli/openapi/client/common/Page.java
  customer-service-client/src/main/java/io/github/bsayli/openapi/client/common/error/ClientProblemException.java
  customer-service-client/src/main/java/io/github/bsayli/openapi/client/common/sort/ClientSort.java
  customer-service-client/src/main/java/io/github/bsayli/openapi/client/common/sort/SortDirection.java
  customer-service-client/src/main/java/io/github/bsayli/openapi/client/common/sort/SortField.java
  customer-service-client/src/main/resources/customer-api-docs.yaml
  customer-service-client/src/main/resources/openapi-templates/api_wrapper.mustache
  customer-service-client/src/main/resources/openapi-templates/model.mustache
  customer-service-client/src/test/java/io/github/bsayli/openapi/client/adapter/CustomerClientErrorIT.java
  customer-service-client/src/test/java/io/github/bsayli/openapi/client/adapter/CustomerClientIT.java
  customer-service-client/src/test/java/io/github/bsayli/openapi/client/adapter/config/CustomerApiClientConfigStatusHandlerTest.java
  customer-service-client/src/test/java/io/github/bsayli/openapi/client/adapter/impl/CustomerClientAdapterImplTest.java
  customer-service/src/main/java/io/github/bsayli/customerservice/api/error/ApplicationExceptionHandler.java
  customer-service/src/main/java/io/github/bsayli/customerservice/api/error/CustomerControllerAdvice.java
  customer-service/src/main/java/io/github/bsayli/customerservice/api/error/JsonExceptionHandler.java
  customer-service/src/main/java/io/github/bsayli/customerservice/api/error/ProblemSupport.java
  customer-service/src/main/java/io/github/bsayli/customerservice/api/error/SpringHttpExceptionHandler.java
  customer-service/src/main/java/io/github/bsayli/customerservice/api/error/ValidationExceptionHandler.java
  customer-service/src/main/java/io/github/bsayli/customerservice/common/api/ApiConstants.java
  customer-service/src/main/java/io/github/bsayli/customerservice/common/api/response/error/ErrorItem.java
  customer-service/src/main/java/io/github/bsayli/customerservice/common/api/response/error/ProblemExtensions.java
  customer-service/src/main/java/io/github/bsayli/customerservice/common/openapi/ApiResponseSchemaFactory.java
  customer-service/src/main/java/io/github/bsayli/customerservice/common/openapi/GlobalErrorResponsesCustomizer.java
  customer-service/src/main/java/io/github/bsayli/customerservice/common/openapi/OpenApiSchemas.java
  customer-service/src/main/java/io/github/bsayli/customerservice/common/openapi/autoreg/AutoWrapperSchemaCustomizer.java
  customer-service/src/main/resources/application.yml
  customer-service/src/test/java/io/github/bsayli/customerservice/api/controller/CustomerControllerIT.java
  customer-service/src/test/java/io/github/bsayli/customerservice/common/openapi/GlobalErrorResponsesCustomizerTest.java
  customer-service/src/test/java/io/github/bsayli/customerservice/common/openapi/SwaggerResponseCustomizerTest.java
  customer-service/src/test/java/io/github/bsayli/customerservice/common/openapi/autoreg/AutoWrapperSchemaCustomizerTest.java
Due: customer-service, customer-service-client

docs: modernize all docs for new unified `{ data, meta }` model and nested generics architecture
  README.md
  customer-service-client/README.md
  customer-service-client/src/main/java/io/github/bsayli/openapi/client/adapter/config/CustomerApiClientConfig.java
  customer-service-client/src/main/java/io/github/bsayli/openapi/client/common/ClientMeta.java
  customer-service-client/src/main/resources/customer-api-docs.yaml
  customer-service-client/src/test/java/io/github/bsayli/openapi/client/adapter/CustomerClientIT.java
  customer-service-client/src/test/java/io/github/bsayli/openapi/client/adapter/config/CustomerApiClientConfigStatusHandlerTest.java
  customer-service-client/src/test/java/io/github/bsayli/openapi/client/adapter/impl/CustomerClientAdapterImplTest.java
  customer-service/README.md
  customer-service/src/main/java/io/github/bsayli/customerservice/common/api/response/Meta.java
  customer-service/src/main/java/io/github/bsayli/customerservice/common/openapi/SwaggerResponseCustomizer.java
  customer-service/src/test/java/io/github/bsayli/customerservice/common/openapi/SwaggerResponseCustomizerTest.java
  docs/adoption/client-side-adoption.md
  docs/adoption/server-side-adoption.md
  docs/index.md
Due: customer-service, customer-service-client

reformat by google reformatter
  README.md
  docs/adoption/client-side-adoption.md
  docs/adoption/server-side-adoption.md
  docs/index.md
Due: none

docs: full documentation overhaul for generics-aware architecture and RFC 7807 alignment
  README.md
  customer-service-client/README.md
  customer-service-client/src/main/resources/openapi-templates/api_wrapper.mustache
  customer-service/README.md
  docs/adoption/client-side-adoption-pom.md
  docs/adoption/client-side-adoption.md
  docs/adoption/server-side-adoption.md
  docs/adoption/snippets/ApiResponseSchemaFactory.java
  docs/adoption/snippets/AutoWrapperSchemaCustomizer.java
  docs/adoption/snippets/GlobalErrorResponsesCustomizer.java
  docs/adoption/snippets/OpenApiSchemas.java
  docs/adoption/snippets/ResponseTypeIntrospector.java
  docs/adoption/snippets/SwaggerResponseCustomizer.java
  docs/images/architectural-diagram.png
  docs/images/generated-client-wrapper-after.png
  docs/images/generated-client-wrapper-before.png
  docs/images/openapi-generics-cover.png
  docs/images/swagger-customer-create.png
Due: customer-service, customer-service-client

chore(release): bump version to 0.7.0 for response modernization
  README.md
  customer-service-client/README.md
  customer-service-client/pom.xml
  customer-service-client/src/main/resources/customer-api-docs.yaml
  customer-service/README.md
  customer-service/pom.xml
  docs/adoption/client-side-adoption-pom.md
  docs/adoption/client-side-adoption.md
  docs/adoption/server-side-adoption.md
Due: customer-service, customer-service-client

chore(docs): fix front-matter delimiters in all Markdown pages for proper GitHub Pages rendering
  README.md
  docs/adoption/client-side-adoption-pom.md
  docs/adoption/client-side-adoption.md
  docs/adoption/server-side-adoption.md
  docs/index.md
Due: none

docs: simplify page titles and clean up front-matter for readability
  README.md
  docs/adoption/client-side-adoption-pom.md
  docs/adoption/client-side-adoption.md
  docs/adoption/server-side-adoption.md
Due: none

docs: add official RFC 7807 reference link to README header
  README.md
Due: none

docs(readme): refine generics-aware architecture section and examples
  README.md
Due: none

docs: polish index.md for GitHub Pages — finalized overview, references, and external link titles
  docs/adoption/client-side-adoption.md
  docs/index.md
Due: none

docs: rename section to "Architecture Overview" for clarity and consistency
  README.md
Due: none

docs: finalize README — polished architecture overview, pluralization, and author links
  README.md
Due: none

docs: update module READMEs for consistency and clarity
  customer-service-client/README.md
  customer-service/README.md
  customer-service/src/main/java/io/github/bsayli/customerservice/api/dto/CustomerListResponse.java
Due: customer-service, customer-service-client

docs(README): fix TOC anchors
  README.md
Due: none

docs(README): align reference titles with index.md and update external links
  README.md
Due: none

docs(README): fix TOC link for References & External Links section
  README.md
Due: none

fix(client): improve error handling, documentation, and response models
  README.md
  customer-service-client/README.md
  customer-service-client/src/main/java/io/github/bsayli/openapi/client/adapter/config/CustomerApiClientConfig.java
  customer-service-client/src/main/java/io/github/bsayli/openapi/client/adapter/support/ProblemDetailSupport.java
  customer-service-client/src/main/java/io/github/bsayli/openapi/client/common/error/ClientProblemException.java
  customer-service-client/src/test/java/io/github/bsayli/openapi/client/adapter/CustomerClientErrorIT.java
  customer-service-client/src/test/java/io/github/bsayli/openapi/client/adapter/config/CustomerApiClientConfigStatusHandlerTest.java
  customer-service/README.md
  customer-service/src/main/java/io/github/bsayli/customerservice/api/controller/CustomerController.java
  customer-service/src/main/java/io/github/bsayli/customerservice/common/api/response/Meta.java
  customer-service/src/main/java/io/github/bsayli/customerservice/common/api/response/error/ProblemExtensions.java
  docs/adoption/client-side-adoption.md
Due: customer-service, customer-service-client

style: apply Google Java Format
  customer-service-client/src/main/java/io/github/bsayli/openapi/client/adapter/config/CustomerApiClientConfig.java
  customer-service-client/src/main/java/io/github/bsayli/openapi/client/adapter/support/ProblemDetailSupport.java
  customer-service-client/src/main/java/io/github/bsayli/openapi/client/common/error/ClientProblemException.java
  customer-service-client/src/test/java/io/github/bsayli/openapi/client/adapter/CustomerClientErrorIT.java
  customer-service-client/src/test/java/io/github/bsayli/openapi/client/adapter/config/CustomerApiClientConfigStatusHandlerTest.java
  customer-service/src/main/java/io/github/bsayli/customerservice/api/controller/CustomerController.java
  customer-service/src/main/java/io/github/bsayli/customerservice/common/api/response/Meta.java
  customer-service/src/main/java/io/github/bsayli/customerservice/common/api/response/error/ProblemExtensions.java
Due: customer-service, customer-service-client

docs: clarify examples in Problem & Motivation section
  README.md
Due: none

chore: minor cleanup after 0.7.1 release (remove redundant logger dependency)
  customer-service-client/README.md
  customer-service-client/src/main/java/io/github/bsayli/openapi/client/adapter/config/CustomerApiClientConfig.java
  customer-service-client/src/main/java/io/github/bsayli/openapi/client/adapter/support/ProblemDetailSupport.java
  docs/adoption/client-side-adoption.md
Due: customer-service-client

docs: add Google Analytics (GA4) tracking to Jekyll config
  docs/_config.yml
Due: none

fix: correct GA4 key name for Just the Docs integration
  docs/_config.yml
Due: none

docs: fix Google Analytics tracking key for Just-the-Docs theme
  docs/_config.yml
Due: none

fix: update GA property key to ga_measurement_id for active tracking
  docs/_config.yml
Due: none

docs: update GA4 measurement ID to G-HMPG85XV29 for GitHub Pages tracking
  docs/_config.yml
Due: none

docs: add Google Analytics 4 tracking script via head_custom.html
  docs/_config.yml
  docs/_includes/head_custom.html
Due: none

Add new clean GA4 tag (G-4NH21XZLBN) for GitHub Pages
  docs/_includes/head_custom.html
Due: none

docs(readme): add Community & Discussions section to encourage user feedback and engagement
  README.md
Due: none

docs: add canonical URL to Medium for SEO consistency
  docs/index.md
Due: none

docs: update references to RFC 9457 and streamline external links
  docs/adoption/client-side-adoption-pom.md
  docs/adoption/client-side-adoption.md
  docs/adoption/server-side-adoption.md
  docs/index.md
Due: none

docs: add canonical Medium reference and remove dev.to link
  README.md
Due: none

docs(analytics): add GA4 redirect tracking page (repo.html)
  docs/go/repo.html
Due: none

feat(docs): optimize GA4 redirect tracking with beacon transport and event callback
  docs/go/repo.html
Due: none

🧹 refactor(openapi): ignore redundant DTOs & align client type mapping (#9)
  customer-service-client/.openapi-generator-ignore
  customer-service-client/README.md
  customer-service-client/pom.xml
  customer-service-client/src/main/java/io/github/bsayli/openapi/client/adapter/CustomerClientAdapter.java
  customer-service-client/src/main/java/io/github/bsayli/openapi/client/adapter/config/CustomerApiClientConfig.java
  customer-service-client/src/main/java/io/github/bsayli/openapi/client/adapter/impl/CustomerClientAdapterImpl.java
  customer-service-client/src/main/java/io/github/bsayli/openapi/client/adapter/support/ProblemDetailSupport.java
  customer-service-client/src/main/java/io/github/bsayli/openapi/client/common/sort/ClientSort.java
  customer-service-client/src/main/java/io/github/bsayli/openapi/client/common/sort/ClientSortDirection.java
  customer-service-client/src/main/java/io/github/bsayli/openapi/client/common/sort/ClientSortField.java
  customer-service-client/src/test/java/io/github/bsayli/openapi/client/adapter/impl/CustomerClientAdapterImplTest.java
  docs/_includes/head_custom.html
  docs/go/repo.html
Due: customer-service-client

docs(client): update client-side adoption guides and README for generator cleanup
  customer-service-client/README.md
  docs/adoption/client-side-adoption-pom.md
  docs/adoption/client-side-adoption.md
Due: customer-service-client

chore(release): bump version to 0.7.2
  customer-service-client/pom.xml
  customer-service-client/src/main/resources/customer-api-docs.yaml
  customer-service/pom.xml
Due: customer-service, customer-service-client

docs: add Contributor Covenant v3.0 Code of Conduct
  CODE_OF_CONDUCT.md
Due: none

Path conditions:
  customer-service: any of: customer-service/, but not: customer-service-client/target/**, customer-service/target/**, **/target/**, **/generated-sources/**, **/generated/**
  customer-service-client: any of: customer-service-client/, but not: customer-service-client/target/**, customer-service/target/**, **/target/**, **/generated-sources/**, **/generated/**
